<h3>Add Tags</h3>
<form
  action="<%= '/tasks/' + task.taskID + '/addTag'  %>"
  method="POST"
>
  <div>
    <input
      hidden
      type="text"
      class="form-control"
      name="taskID"
      value="<%= task.taskID %>"
    />
  </div>

  <div>
    <label class="form-label">
      Tag ID:
      <input type="text" class="form-control" name="tagID" />
    </label>
  </div>

  <button type="submit" class="btn btn-outline-primary">Add Tag</button>
</form>
