<h2>Lists</h2>
<div class="row g-3">
  <% for (let list of lists) { %>

    <div class="col-4">
      <div class="card p-1">
        <h5 class="card-title"><%= list.name %></h5>
        <div class="card-text">

          <div>
            <a class="btn btn-outline-danger" href="<%= '/lists/' + list.list_id + '/delete' %>">Delete</a>
          </div>
          
        </div>
      </div>
    </div>


  <% } %>

 <%- include("./pagination.ejs", { currentPage, lastPage }) %>

</div>
